<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Debug manifest to provide additional configuration for debug builds -->
    <application tools:ignore="MissingApplicationIcon">
        <activity android:name=".MainActivity">
            <!-- Metadata to configure debug shortcuts -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/devtools_shortcuts" />
        </activity>
    </application>

</manifest>
